<div class="carousel-item h-100">
    <!-- project image -->
    <img src="./assets/images/{{ gif-name }}" class="w-100"  alt="{{ gif-alt }}">
    <div class="carousel-caption d-none d-md-block text-start">
        <h5 class="display-1">{{ title }}</h5>
        <p class="lead">{{ short-description }}</p>
    </div>
</div>