<!-- Featured carousel -->
<section id="featured" class="carousel slide carousel-fade"  data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#featured" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#featured" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#featured" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {{#each featured as |featured-projects|}}
        {{>carousel-slide}}
        {{/each}}
    </div>
    <!-- Carousel Controls -->
    <button class="carousel-control-prev prev-button" type="button" data-bs-target="#featured" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next next-button" type="button" data-bs-target="#featured" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<!-- Projects list -->
<section id="projects">
    <h2 class="display-2 p-4 d-block bg-navy text-light">Projects</h2>
    <ul class="list-group">
        {{#each projects as |project|}}
        {{> project-listing }}
        {{/each}}
    </ul>
</section>

<!-- About -->
<section id="about">
    <h2 class="display-2 p-4 d-block bg-navy text-light">About Me</h2>
    <div class="d-flex align-items-center flex-wrap pb-4">
        <img class="rounded-circle col-12 col-lg-4 px-lg-4" src="assets/images/AdamKruschwitz.jpg">
        <div class="flex-fill col-12 col-lg-8">
            <p id="work-statement" class="display-5">I am a web developer working out of the Bay Area, California, looking for remote work.</p>
            <p class="fs-4">I grew up in Rochester, NY and attended Ithaca College, graduating with a B.A in Computer Science. I worked at ZL Technologies, a records management SaaS company, for two years after graduating before deciding to expand my knowledge once again at Berkley's Full Stack Web Development Bootcamp. </p>
            <p class="fs-4">In my free time, I enjoy playing Magic the Gathering&trade;, designing and crocheting plush figures, and volunteering through mutual aid organizations in my community. I hope to bring the spirit of creativity and camaraderie I exercise through my hobbies into my workplace.</p>
        </div>
    </div>
</section>